/*
* @Author: TomChen
* @Date:   2018-11-16 18:25:25
* @Last Modified by:   TomChen
* @Last Modified time: 2018-12-23 17:02:08
*/
*{
    box-sizing: border-box;
}
.container{
    width: 1920px;
    height: 100%;
	margin-left: auto;
    margin-right: auto;
    position: relative;
}
.clearfix:after{
	display: block;
	content: '';
	clear: both;
	height: 0;
	visibility: hidden;
}
.clearfix{
	*zoom:1;
}
